.personaSec{
    height:600px;
    background-color:#FFFDFA;   
    display:flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}

.subTitle{
    font-family:Chonburi;
    font-size: 30px;
}

.personaTemplate{
    height:300px;
    display:flex;
    gap:20px;
    align-items: center;
    justify-content: space-around;
}

.personaImage{
    height: auto;
    max-height: 150px;
}

.personaContents{
    width:70%;
}

.personaSen{
    width:45%;
    font-family:Poppins;
    font-size:20px;
}

#personaName{
    font-family:Chonburi;
    font-size: 20px;
}

#personaInformation{
    font-family:Poppins;
}

.personaInfo{width:20%;}

.highlightsType1{
    height:400px;
}