#buttomBG{
    background-color:#4b4b4b;
    height:120px;
}

.bottom{
    margin-left:10%;
    margin-right:10%;
    background-color:#4b4b4b;
    font-family:Chonburi;
    color:#FFFDFA;
    display:flex;
    justify-content:space-around;
}

#bottomName{
    margin-top: 30px;
    font-size:30px;
}

#back2top{
    margin-top:15px;
}

#bottomInfo{
    margin-top:20px;
}

.bottomInfoLine{
    margin-bottom:4px;
}