body{
    min-width: 800px;
    margin:0px;
    background-color:#FFFDFA;
    color:#747474;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

.cover{
    height:650px;
    display:flex;
    margin-left:10%;
}

.introduction{
    margin-top:18%;
    font-size:40px;
    font-family:Chonburi;
    color:#747474;
}

.connection{
    font-size:25px;
    font-family:Chonburi;
    color:#747474;
}

#tag_title{
    font-size:19px;
    font-family:Chonburi;
    color:#747474;
}

.cover_left{
    width:45%;
}

.cover_right{
    display:flex;
    flex-grow:1;
    justify-content:center;
}

#cover_image{
    height: auto;
    max-width: 350px;
    align-self:center;
}

.tagArea{
    display:flex;
    width:380px;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.tagBox{
    margin-top:3px;
    margin-bottom:3px;
    border-radius: 15px;
    font-family:Chonburi;
    font-size:15px;
    border-style: solid;
    border-color: #CAA5A5;
}

.projectType1{
    height:400px;
    background-color:#CAA5A5;
    display:flex;
    color:#FFFDFA;
    justify-content:center;
    align-items:center;
}

.projectType2{
    height:400px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.detailArea1{
    width:50%;
}

.detailArea2{
    width:50%;
}

.texts{
    margin-left:20%;
    margin-right:20%;
}

.projectTitle{
    font-family:Chonburi;
    font-size:40px;
    margin-bottom:18px;
}

.projectDes{
    font-size:20px;
    font-family:Chonburi;
}

.projectImage{
    margin-left:20%;
    margin-right:20%;
}

#lastSentence{
    margin-bottom:0px;
}

.sampleImg{
    height: auto;
    max-width: 450px;
    align-self:center;
    filter: grayscale(100%);
}

.sampleImg:hover{
    filter: grayscale(0);
}