body{
    min-width: 800px;
    margin:0px;
    background-color:#FFFDFA;
    color:#747474;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

.cover{
    height:650px;
    display:flex;
    margin-left:10%;
}

.introduction{
    margin-top:18%;
    font-size:40px;
    font-family:Chonburi;
    color:#747474;
}

.connection{
    font-size:25px;
    font-family:Chonburi;
    color:#747474;
}

.subTitle{
    font-family:Chonburi;
    font-size:45px;
    margin-bottom:0px;
    margin-left:15%;
    margin-top:50px;

}

#details{
    font-size:20px;
}


#tag_title{
    font-size:19px;
    font-family:Chonburi;
    color:#747474;
}

  
  .grid {
    width: 100%;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .grid-block {
    width: 50%;
    min-height: 11.25rem;
    padding: 1rem;
  }
  
  .image-grid {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
    transform: rotateX(45deg) rotateZ(45deg);
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  
  .image-grid .tile-link:hover .tile-img {
    top: -1rem;
    left: -1rem;
  }
  
  .image-grid .tile-img {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition-property: opacity, top, left, box-shadow;
    transition-property: opacity, top, left, box-shadow;
  }
  
  .tile-link {
    display: block;
  }
  
  .tile-link:hover .tile-img {
    opacity: 1;
  }
  
  .tile-link:hover .tile-img-link {
    display: block;
  }
  
  .tile-link:hover .tile-img-link:hover .tile-img {
    opacity: 0.5;
  }
  
  .tile-img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.125s;
    transition-duration: 0.125s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    filter: drop-shadow(15px 10px 4px #e4dae474);
  }
  .tile-link:hover .tile-img1 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
      10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
      20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
  }
  
  .tile-link:hover .tile-img2 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
      10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
      20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);}
  
  .tile-link:hover .tile-img3 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
      10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
      20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
  }
  
  .tile-link:hover .tile-img4 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
      10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
      20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
  }
  
  .tile-link:hover .tile-img5 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
      10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
      20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
  }
  
  .tile-link:hover .tile-img6 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
      10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
      20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
  }
  
  .tile-link:hover .tile-img7 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
      10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
      20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
  }
  
  .tile-link:hover .tile-img8 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
      10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
      20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);}
  
  .tile-link:hover .tile-img9 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
      10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
      20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
  }
  
  .tile-link:hover .tile-img10 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
      10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
      20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
  }
  
  #text{
    position: absolute;
    top: 200px;
    left: 30%;
    font-size: 40px;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-family:Chonburi;
    color:#747474;
  }

  #detail{
    position: absolute;
    top: 260px;
    left: 30%;
    font-size: 25px;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-family:Chonburi;
    color:#747474;
  }